[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
pillow = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
psycopg2 = "*"
django-login-history = "*"
django-cors-headers = "*"
install = "*"
django-storages = "*"
requests = "*"
gunicorn = "*"
django-tagulous = "*"
django-extensions = "*"
django-geojson = "*"
django-model-utils = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-background-task = "*"
drf-extensions = "*"
boto3 = "*"
django-push-notifications = "*"
pyfcm = "*"
fcm-django = "*"
pywebpush = "*"
py-vapid = "*"
django-resized = "*"
botocore = "*"
asgiref = "*"

[requires]
python_version = "3.7"
